nav#sidebar
	div.sidebar-header
		div.sidebar-search
			i.fa.fa-search
			input#apiSearchInput(type="text", placeholder="Search...")
			button.btn.btn-link#resetSearch
				i.fa.fa-times

	ul.list-unstyled.components
		li
			a(href="#") 
				b Introduction

		- _.each(api_list, function(group){
			li
				a(href="##{group.group_name}", data-toggle="collapse", aria-expanded="true")
					b #{group.group_name}
				ul.list-unstyled.collapse.in(id=group.group_name)
					- _.each(group.apis, function(api){
						li
							a(href="##{api.name}") #{api.title}
					- });
		- 	});
		
		li
			a(href="#") About